.Middle_Container{
    border: 1px solid black;
    width: 25vw;
    height: 86vh;
    overflow: hidden;
}

.Middle_Container_top{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.Middle_Container_top div > a,span{
    font-size: 20px;
    margin-right: 10px;
}

.sms_container{
    margin-top: 1rem;
    background: #F6F8FA;
    width: 100%;
    height: 65px;
    overflow: hidden;
    cursor: pointer;
    
}

.sms_container > p:nth-child(1){
    text-transform: uppercase;
    font-size: 14px;

}

.sms_container > p:nth-child(2){
    color: blue;
    font-size: 14px;     
}

.spam-text{
    margin-top: 4rem;
}